.app {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  background-color: $color-background;
  border-radius: 8px;
  padding: 0 2rem;
  min-height: $app-min-height;
  @extend %stretch;
  @extend %wrapper;
  @include screen-sm {
    padding: 0 1.6rem;
  }
  @include screen-md {
    padding: 0 3rem;
  }

  &__header {
    padding-top: 3.5rem;
    @extend %center;
    @include screen-sm {
      padding-top: 3.2rem;
    }

    &__logo-container {
      margin-right: 6rem;
      margin-left: 6rem;
      width: 100vw;
      max-width: 316px;
      min-width: 200px;
      @include screen-sm {
        margin: 0;
      }
    }
  }

  &__main {
    flex-grow: 1;
    margin-top: 1.6rem;
    margin-bottom: 2.2rem;
    @extend %stretch;
    @include screen-sm {
      margin-bottom: 3.6rem;
    }
  }

  &__footer {
    padding-bottom: 2.7rem;
    font-size: 12px;
    line-height: 14px;
    color: $color-divider;
    @extend %center;
    @include screen-sm {
      padding-bottom: 2.9rem;
    }
  }
}
