.card-container{
  @extend %card;
}

.card{
  width: 100%;
  $self: &;

  &--opened{
    #{ $self }__inner{
      animation: slide-s-card 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

      &__content{
        animation: slide-s-card-content 0.2s 0.2s ease-in-out forwards;

        &__loader{
          width: 2.5rem;
          height: 2.5rem;
          animation: rotate-s-loader 1s linear infinite;
        }
      }

    }

    #{ $self }__inner--form{
      animation: slide-form-card 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
      overflow: unset;
    }


    #{ $self }__title{
      box-shadow: 0 4px 12px $color-card-opened-shadow;
    }

    #{ $self }__icon{
      transform: rotate(180deg);

      &__arrow--background {
        fill: $color-secondary;
        animation: change-arrow-color 0.2s 0.2s forwards;
      }
    }
  }

  &__title{
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 1.4rem 1rem;
    @include screen-sm {
      padding: 1.4rem 1.5rem;
    }
    box-shadow: 0 2px 1px $color-card-closed-shadow;

    &:hover{
      cursor: pointer;
    }

    p{
      font-size: 1.6rem;
      color: $color-primary;
      font-style: normal;
      font-weight: bold;
      line-height: 1.9rem;
    }
  }

  &__icon{
    transition: transform 0.3s ease-in-out;
    &__arrow--background{
      fill: $color-primary;
    }
  }

  &__inner{
    overflow: hidden;
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 1px $color-card-closed-shadow;
    max-height: 0;

    &__content{
      animation: slide-s-card-content 0.2s 0.2s ease-in-out reverse forwards;
      padding: 0;
      @include screen-sm {
        padding: 2rem 1.6rem 2.9rem 1.6rem;
      }
      @extend %center;

      &__loader{
        width: 2.5rem;
        height: 2.5rem;
        animation: rotate-s-loader 1s linear infinite;
      }
    }
  }
}



