.card-container{
  @extend %card;
}

.card{
  width: 100%;
  $self: &;

  &--opened{
    #{ $self }__inner{
      max-height: 200rem;
      transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      transition-duration: 0.5s;
      transition-property: max-height;

      &__content{
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        transition-property: opacity, transform;

        &__loader{
          width: 2.5rem;
          height: 2.5rem;
        }
      }

    }

    #{ $self }__inner--form{
      max-height: 100rem;
      transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      transition-duration: 0.5s;
      transition-property: max-height;
      overflow: unset;
    }


    #{ $self }__title{
      box-shadow: 0 4px 12px $color-card-opened-shadow;
    }

    #{ $self }__icon{
      transform: rotate(180deg);

      &__arrow--background {
        fill: $color-secondary;
        max-height: 100rem;
        transition-duration: 0.2s;
        transition-delay: 0.2s;
        transition-property: fill;
      }
    }
  }

  &__title{
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 1.4rem 1rem;
    @include screen-sm {
      padding: 1.4rem 1.5rem;
    }
    box-shadow: 0 2px 1px $color-card-closed-shadow;

    p{
      font-size: 1.6rem;
      color: $color-primary;
      font-style: normal;
      font-weight: bold;
      line-height: 1.9rem;
    }
  }

  &__icon{
    transition: transform 0.3s ease-in-out;
    &__arrow--background{
      transition-duration: 0.2s;
      transition-delay: 0.2s;
    }
  }

  &__inner{
    max-height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 1px $color-card-closed-shadow;

    &__content{
      opacity: 0;
      transform: translateY(-1rem);
      transition-timing-function: linear, ease;
      transition-duration: 0.1s;
      transition-property: opacity, transform;
      transition-delay: 0.5s;
      padding: 0;
      @include screen-sm {
        padding: 2rem 1.6rem 2.9rem 1.6rem;
      }
      @extend %center;

      &__loader{
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
