.content{
  flex-grow: 1;
  @extend %stretch;

  &__card{
    width: 100%;
    background-color: $color-foreground-light;
    border-radius: 4px;
    padding: 1.4rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @include screen-sm {
      padding: 1.4rem 1.5rem;
    }

    &__title{
      font-size: 1.6rem;
      color: $color-primary;
      font-style: normal;
      font-weight: bold;
      line-height: 1.9rem;
    }
  }

  &__section{
    @extend %center;
    align-items: flex-start;
    flex-grow: 1;

    &--center{
      align-items: center;
    }

    &__loader{
      width: 5rem;
      height: 5rem;
      animation: rotate-s-loader 1s linear infinite;
    }
  }

  &__divider{
    margin: 3.2rem -2rem;
    height: 1px;
    border: 0;
    border-top: dashed 2px white;
    @include screen-sm {
      margin: 3.2rem -3rem;
    }
  }
}



