$color-background: #e0e6ee;
$color-foreground-light: #ffffff;
$color-foreground-dark: rgba(229, 229, 229, 0.5);
$color-card-closed-shadow: rgba(196, 196, 196, 0.2);
$color-label-shadow: rgba(196, 196, 196, 0.5);
$color-card-opened-shadow: rgba(224, 230, 238, 0.5);
$color-primary: #00687f;
$color-secondary: #5fbbcf;
$color-text: #474747;
$color-label: #555555;
$color-hint: #c4c4c4;
$color-btn: #1ba1be;
$color-btn-disabled: #e0e6ee;
$color-error: #ff1616;
$color-divider: #999999;
$color-input: #fdffe2;
