$color-background: #E0E6EE;
$color-foreground-light: #FFFFFF;
$color-foreground-dark: rgba(229, 229, 229, 0.5);
$color-primary: #00687F;
$color-secondary: #5FBBCF;
$color-text: #474747;
$color-label:#555555;
$color-hint: #C4C4C4;
$color-btn: #1BA1BE;
$color-btn-disabled: #E0E6EE;
$color-error: #FF1616;
$color-divider: #999999;
$color-input: #FDFFE2
