%wrapper{
  max-width: $app-max-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

%center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

%stretch{
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
}

%card{
  margin-top: 1.6rem;
  width: 100%;
  background-color: $color-foreground-light;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

%form-input{
  margin-top: 0.5rem;
  outline: 0;
  border: none;
  padding-bottom: 0.7rem;
}