.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    padding: 0 15px;
    width: 100% * ($i / 12);
  }

}

@for $i from 1 through 12 {
  @media(min-width: $screen-breakpoint-sm){
    .col-sm-#{$i}{
      padding: 0 15px;
      width: 100% * ($i / 12);
    }
  }
}

@for $i from 1 through 12 {
  @media(min-width: $screen-breakpoint-md){
    .col-md-#{$i}{
      padding: 0 15px;
      width: 100% * ($i / 12);
    }
  }
}

@for $i from 1 through 12 {
  @media(min-width: $screen-breakpoint-lg){
    .col-lg-#{$i}{
      padding: 0 15px;
      width: 100% * ($i / 12);
    }
  }
}

@for $i from 1 through 12 {
  @media(min-width: $screen-breakpoint-xl){
    .col-xl-#{$i}{
      padding: 0 15px;
      width: 100% * ($i / 12);
    }
  }
}